body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 50px; 
    justify-content: space-between;
    padding: 71px;
}

.hero-text {
    color: #464242; 
    padding: 50px;
}

.hero-button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
}

nav {
    background-color: #333;
    align-items: center;
    justify-content: space-between;
    height: 95px;
}

.logo{
  width: 140px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.page-title{
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.content{
  margin-top: 10%;
  margin: 10px 30px;
  background: linear-gradient(135deg, #0c1445, #1f3263, #0c1445);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }



.tagline{
  font-size: 70px;
  color: #222;
  border-left:50px ;
}

.content p{
  margin: 10px 30px;
  color: whitesmoke;
  font-size: 10px;
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    animation: slideIn 0.5s ease-in-out ;

    }

        @keyframes slideIn{
            from{
                transform: translateY(-100%);
                opacity: 0;
            }
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }

.about-container{
    animation: slideIn 0.5s ease-in-out ;

    }

        @keyframes slideIn{
            from{
                transform: translateY(-100%);
                opacity: 0;
            }
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.item:nth-child(odd) {
    flex-direction: row-reverse;
}

.item img {
    max-width: 300px;
    height: auto;
    margin: 0 20px;
    border: 2px solid #000;
}

.item p {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 400px;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

.about img {
    max-width: 300px;
    height: auto;
    margin: 0 20px;
    border: 2px solid #000;
}

.about p {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

li{
  list-style: none;
}

.scroll-top-btn {
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff6f6;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    display: none; /* Initially hidden */
  }

  .product-dialog {
    width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-dialog input[type="text"],
.product-dialog input[type="number"],
.product-dialog input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.item {
    text-align: center; 
}

.list-btn {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; 
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center the button horizontally */
}